.fade-overlay {
  position: fixed;
  inset: 0;
  background: radial-gradient(
      circle at 50% 30%,
      rgba(255, 255, 255, 0.07),
      rgba(0, 0, 0, 0.85)
    );
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(4px); /* efecto de niebla */
  transition: opacity 1s ease;
}

.fade-overlay.fade-in {
  opacity: 1;
}

.fade-overlay.fade-out {
  opacity: 0;
}

.watermark-logo {
  width: 220px;
  height: auto;
  opacity: 0.07; /* muy sutil */
  filter: drop-shadow(0 0 25px rgba(255,255,255,0.2)) blur(1px);
  mix-blend-mode: screen;
  transform: scale(1);
  animation: ghosty 3s ease-in-out infinite alternate;
}

